* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
 font-size: 1.2rem; 
}

.gray-bkg {
  background-color: #333333;
}

.green-bkg {
  background-color: #026E00;
}

.lt-green-bkg {
  background-color: #EAF5E9;
}

.white-bkg {
  background-color: #FFFFFF;
}

.green-txt {
  color: #026E00;
}