* {
  box-sizing: border-box;
}

html {
  font: 400 20px/1.5 'Source Sans Pro',Open Sans,Roboto,'San Francisco',Helvetica,Arial,sans-serif;
  color: #333;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
 font-size: 1.2rem; 
}

.gray-bkg {
  background-color: #333333;
}

.green-bkg {
  background-color: #026E00;
}

.lt-green-bkg {
  background-color: #EAF5E9;
}

.white-bkg {
  background-color: #FFFFFF;
}

a {
  color: #026E00;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  background-color: #026E00;
}

.nav {
  text-align: center;
}

.nav img {
  max-height: 75px;
  max-width: 180px;
}

.nav table {
  max-width: 90%;
  margin: auto;
}

.nav td {
  padding: 0 10px;
  font-size: .65rem;
  border-right: 1px solid #FFF;
}

.nav td.last {
  border: none;
}

.nav a {
  color: #FFF;
}

.nav a:hover {
  background-color: #333;
  text-decoration: underline;
}

.splash {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  max-height: 280px;
  text-align: center;
}

.splash img {
  max-width: 100%;
  border: 20px solid rgba(0, 0, 0, 0);
}

.splash img:hover {
  background-color: #026E00;
  border: 20px solid #026E00;
}

main {
  text-align: center;
}

.download-box {
  background-color: #026E00;
  color: #FFF;
  padding-bottom: 5px;
}

.download-box:hover {
  background-color: #43853D;
}

.download-box p {
  font-size: .8rem;
}

.dl-links {
  font-size: .65rem;
}

.dl-links a {
  color: #333;
}

.dl-links a:hover {
  text-decoration: underline;
  background-color: #FFF;
}